.center {
  margin: auto;
  width: 50%;
  padding: 10%;
}

/* .editable:hover{
  opacity: 0.5;
  transition: .5s ease;
} */

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
