<div class="p-grid">

  <div class="p-col-4 p-offset-4">
    <p-card header="Advanced Card" subheader="Subheader">
      <p-header>
        <div class="container">
          <img class="editable" src="https://www.tinygraphs.com/squares/{{user?.image}}">
          <button pButton type="button" class="centered" label="{{'Edit' | translate}}" icon='far fa-edit' class="ui-button-secondary" (click)='update()'></button>
        </div>
      </p-header>
        <div><strong>{{'Name' | translate}}:</strong> {{user?.name}}</div>
        <div><strong>{{'Surname' | translate}}:</strong> {{user?.surname}}</div>
        <div><strong>Email:</strong> {{user?.email}}</div>
        <div><strong>Username:</strong> {{user?.username}}</div>
        <div><strong>{{'Phone' | translate}}:</strong> {{user?.phone}}</div>
      <p-footer>
        <button pButton type="button" style='width: 100%' label="{{'Logout' | translate}}" icon='pi pi-sign-out' class="ui-button-danger" (click)='logout()'></button>
      </p-footer>
    </p-card>
  </div>
</div>

<p-dialog header="{{'Update profile' | translate}}" [(visible)]="updateProfile" [responsive]="true" showEffect="fade" [modal]="true" width="300" (onAfterHide)="onDialogHide()" >
  <div class="ui-g" *ngIf="updateProfile">

        <div class="ui-inputgroup" style="margin: 1% auto">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input #name type='text' placeholder="{{ 'Name' | translate }}" name="name" value={{user?.name}} pInputText autocomplete="off"/>
        </div>
  
        <div class="ui-inputgroup" style="margin: 1% auto">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input #surname type="text" pInputText placeholder="{{ 'Surname' | translate }}" name="surname" value={{user?.surname}} autocomplete="off">
        </div>

        <div class="ui-inputgroup" style="margin: 1% auto">
            <span class="ui-inputgroup-addon"><i class="fas fa-phone"></i></span>
            <input #phone type="tel" pInputText placeholder="{{ 'Phone' | translate }}" name="phone" value={{user?.phone}} autocomplete="off">
        </div>

        <div class="ui-inputgroup" style="margin: 1% auto;">
            <input #image type="text" value={{user?.image}}  pInputText placeholder="{{ 'Image code' | translate }}">
            <button pButton class="ui-button-info" label="{{'Generate' | translate}}" (click)='generateImage(image.value)'></button>
        </div>
        <img class="" style="width:30%; border:1px solid lightgray; margin: 1% auto;" src="{{updateImg}}">

  
        

  <button  pButton class="ui-button-success" type="button" style='width: 200px; margin: auto;' icon='pi pi-lock' label="{{'Confirm' | translate}}" (click)="confirmUpdates(name.value,surname.value,phone.value,image.value)"></button>
  </div>
  <div class="" style="margin: 1% auto;">
  </div>
</p-dialog>
