<div *ngIf="log(); then showNav"></div>

<ng-template #showNav>
  <p-menubar [translate]="items" [model]="items" >
    <div>
      <button pButton label="{{'Logout' | translate}}" icon="pi pi-sign-out" class="ui-button-danger" (click)='logout()'></button>
    </div>
  </p-menubar>
</ng-template>



