<h3>{{ 'Travel List' | translate }}</h3>
<p-table [value]="travels">
  <ng-template pTemplate="header" class="ui-g-12 ui-md-6 ui-lg-4">
      <tr>
        <th>{{ 'Delivery' | translate }}</th>
        <th>{{ 'Id Bike' | translate }}</th>
        <th>{{ 'Departure Date' | translate }}</th>
        <th>{{ 'Departure Station' | translate }}</th>
        <th>{{ 'Arrival Date' | translate }}</th>
        <th>{{ 'Arrival Stations' | translate }}</th>
        <th>{{ 'Period' | translate }}</th>
      </tr>
  </ng-template>

  <ng-template let-travel pTemplate="body" class="ui-g-12 ui-md-6 ui-lg-4">
    <tr>
      <td>
        <div class="ui-g-12 ui-md-12" *ngIf='!travel.period'>
          <button pButton type="button" icon="pi pi-check-circle" (click)="selectTravel(travel.idTravel)"></button>
        </div>
        <div class="ui-g-12 ui-md-12" *ngIf='travel.period'>
            <i class="pi pi-times-circle"></i>
        </div>
      </td>
      <td>{{travel.idBike}}</td>
      <td>{{travel.dateDeparture | date:'mediumDate'}}</td>
      <td>{{travel.idDepartureStation}}</td>
      <td>{{travel?.dateArrival | date:'mediumDate'}}</td>
      <td>{{travel?.idArrivalStation}}</td>
      <td>{{travel?.period | date: 'mm:ss'}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="{{'Return bike' | translate}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="300" height="auto" (onAfterHide)="onDialogHide()" >
    <div class="ui-g" *ngIf="selectedTravel" style="height:400px">

      <p-dropdown  [options]="stations" [(ngModel)]="selectedStation" [style]="{'width': '200px', 'margin':'0px auto'}" placeholder="{{'Select Station' | translate}}" optionLabel="name" [showClear]="true"></p-dropdown>

      <div style="height:10px; margin-left: 10px" *ngIf='selectedStation'>
          <button pButton type="button" icon='pi pi-unlock' style='width: 200px; margin: auto;' label="{{'Generate Code' | translate}}" (click)='showCode()'></button>
          <p-messages [(value)]="msgs"></p-messages>
          <br>  <br>
          <button pButton type="button" icon='pi pi-lock' label="{{'Return bike' | translate}}" (click)='returnBike(selectedStation)' style='width: 200px; margin: auto;'></button>

      </div>

      <div *ngIf="!controlSelectStation">
        <p-message severity="error" text="{{'Select Station' | translate}}" styleClass='width=200px'></p-message>
      </div>

    </div>
</p-dialog>


