<div class="ui-g">
  <div class="ui-g-6">
    <p-fieldset legend="{{ 'All Stations' | translate }}">
      <p-chart type="doughnut" [data]="data" [style]="{'width':'100%','height':'100%'}" class="p-col"></p-chart>
    </p-fieldset>
</div>
  <div class="ui-g-6">
    <p-gmap [overlays]="overlays" [options]="options" [style]="{'width':'100%','height':'100%'}"></p-gmap>
  </div>
</div>
<app-station></app-station>
