<div style="float: right; position: relative">
  <button (click)='translate.use("it")'><img src="https://cdn1.iconfinder.com/data/icons/stripe-flag-set/23/IT.png"/></button>
  <button (click)='translate.use("en")'><img src="https://cdn1.iconfinder.com/data/icons/stripe-flag-set/23/US.png"/></button>
</div>
<app-nav-bar ></app-nav-bar>
<router-outlet ></router-outlet>


