<h3>{{'List of Stations' | translate}}</h3>

<div *ngFor='let station of stations'>
  <p-fieldset legend={{station.name}} [toggleable]="true" [collapsed]="true">
    <div *ngFor='let ele of station.bikes'>

        <p-card [style]="{width: '360px'}" class="ui-g-12 ui-md-6 ui-lg-4">
            <h3>{{ele.idBike}}</h3>
          <p-header style='text-align: center;'>
              <img [src]='ele.image' style='width: 100px; margin:0px auto;display:block'>
          </p-header>
          <p-footer>
            <button pButton type="button" label='Info ' style='width: 100px; margin:0px auto;display:block' icon="pi pi-info" (click)="selectedBikeFunc(ele.idBike, station.idStation)"></button>
          </p-footer>
        </p-card>

    </div>
  </p-fieldset>
</div>

<p-dialog header="{{'Bike Details' | translate}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="300" (onAfterHide)="onDialogHide()" >
    <div class="ui-g" *ngIf="selectedBike">

        <div class="ui-g-3">{{'Model' | translate}}: </div>
        <div class="ui-g-8">{{details?.model}}</div>

        <div class="ui-g-3">{{'Desc' | translate}}: </div>
        <div class="ui-g-8">{{details?.description}}</div>

        <div class="ui-g-3">{{'Free' | translate}}: </div>
        <div class="ui-g-8" >{{details?.free}}</div>

      <div *ngIf="details?.free" style='margin: 0px auto;'>
        <div *ngIf='!borrowConfirm'>

          <div class="ui-g-3">{{'Code' | translate}}: </div>
          <p-inputMask [(ngModel)]="val" mask="99-99" class="ui-g-8" name='99-99' [style]="{'padding': 'auto'}"></p-inputMask>

          <button  pButton type="button" style='width: 200px; margin: auto;' icon='pi pi-lock' label="{{'Take bike' | translate}}" (click)='borrowBikeId(details.numTelaio)'></button>
        </div>
      </div>

      <div *ngIf='borrowConfirm'>
        <p-messages  [(value)]="msgs"></p-messages>
      </div>

    </div>
</p-dialog>
