<div class="p-grid">

  <div class="p-col-6 p-offset-3">

    <img [src]='image' style='width: 90%; margin:0px auto; display:block'>

    <p-fieldset legend="{{'Login' | translate}}">

      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input #username type="text" pInputText placeholder="Username" autocomplete="off">
      </div>

      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
        <input #password type="password" pInputText placeholder="Password">
      </div>

      <!-- button -->
      <div class="ui-inputgroup">
        <button pButton type="button" label="{{'Login' | translate}}" (click)="login(username.value, password.value)" name="button"></button>
      </div>
      <!--control credential-->
      <div style='text-align: center'>
        <p-message *ngIf="!errorCredential" severity="error" text="{{ 'Incorrect Password or Username' | translate }}"></p-message>
      </div>
      <div class="ui-inputgroup">
        <button pButton type="button" label="{{ 'Sign Up' | translate }}" (click)="registration()" name="button"></button>
      </div>
    </p-fieldset>
  </div>
</div>

