<div class="p-grid">

  <div class="p-col-6 p-offset-3">

    <img [src]='imagePage' style='width: 90%; margin:0px auto; display:block'>

    <p-fieldset legend="{{ 'Sign Up' | translate }}">

      <!-- <button type="button" (click)='translate.use("en")'>sasd</button> -->

      <div class="ui-inputgroup" >
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input #name type='text' placeholder="{{ 'Name' | translate }}" name="name" pInputText autocomplete="off"/>
      </div>

      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input #surname type="text" pInputText placeholder="{{ 'Surname' | translate }}" name="surname" autocomplete="off">
      </div>

      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input #username type="text" pInputText placeholder="Username" name="username" autocomplete="off">
      </div>
      <div style='text-align: center'>
        <p-message *ngIf='controlUsername' severity="error" text="{{'Username in use' | translate}}" styleClass='messageError'></p-message>
      </div>
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fas fa-envelope-square"></i></span>
          <input #email type="email" pInputText placeholder="Email" name="email" autocomplete="off">
      </div>

      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input #password title="{{'Must contain at least and one uppercase and lowercase letter, and between 8 and 15 characters' | translate}}"
            type="password" pInputText placeholder="Password" name="password">
      </div>
      <div style='text-align: center'>
        <p-message *ngIf='controlPassword' severity="error" text="{{'Password invalid' | translate}}"></p-message>
      </div>
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fas fa-phone"></i></span>
          <input #phone type="tel" pInputText placeholder="{{ 'Phone' | translate }}" name="phone" autocomplete="off">
      </div>

      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="far fa-image"></i></span>
          <input #image type="text" pInputText placeholder="{{ 'Image' | translate }}" name="image" autocomplete="off">
      </div>

      <button type="button" pButton class="btn btn-block btn-success" label="{{ 'Sign Up' | translate }}" (click)="signUp(name.value, surname.value, username.value, email.value, password.value, phone.value, image.value);"
      name="button"></button>

    </p-fieldset>
  </div>


</div>


